<mat-toolbar style="background-color: white;">
    <!-- <span style="padding-left: 90px;">
        <a id="myLink" href="https://www.sundaygrids.com/" onclick="MyFunction();return false;">
            <img src="/assets/logo.PNG" />
        </a>
    </span> -->

    <span style="padding-left: 75px; padding-top: 10px;">
        <a id="myLink" href="https://www.sundaygrids.com/">
            <img src="/assets/logo.PNG" />
        </a>
    </span>
    <!-- <span class="fx-spacer"></span>
    <span class="flexExpand">How it works</span>
    <span class="flexExpand">About us</span>
    <span class="flexExpand">Explore</span>
    <span class="flexExpand">FAQ</span>
    <span class="flexExpand" style="padding-right: 90px;">Dashboard</span> -->
    <div class="fx-spacer"></div>
    <a class="flexExpand" mat-button href="https://www.sundaygrids.com/how-it-works">How it works</a>
    <a class="flexExpand" mat-button href="https://www.sundaygrids.com/about-us">About Us</a>
    <a class="flexExpand" mat-button href="https://www.sundaygrids.com/explore">Explore</a>
    <a class="flexExpand" mat-button
        href="https://www.notion.so/FAQ-SundayGrids-a17120872e81441aa55dc5aed15cdac1">FAQ</a>
    <a class="flexExpand" style="margin-right: 50px;" mat-button
        href="https://www.sundaygrids.com//how-it-works">Dashboard</a>
    <!-- <button class="flexExpand" mat-button>About us</button>
    <button class="flexExpand" mat-button>Explore</button>
    <button class="flexExpand" mat-button>FAQ</button>
    <button class="flexExpand" mat-button>Dashboard</button> -->



</mat-toolbar>