<p-toolbar [style]="{'background-color':'white','border':'none','border-radius':'3px'}">
  <div class="p-toolbar-group-left">
    <h2 style="color:rgb(45, 31, 50);font-weight: bolder;">Bill Details</h2>
  </div>
  <div class="p-toolbar-group-right" [style]="{'width':'40px','height':'8px'}">
    <div class="parent">
      <img src="/assets/bharat.jpg">
    </div>
  </div>
</p-toolbar>
<br>
<div style="width: 100%;justify-content: space-evenly;display: flex;">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <mat-select>
        <mat-option *ngFor="let state of stateSelectorList" [value]="state.value">
          {{state.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Operator</mat-label>
      <mat-select>
        <mat-option *ngFor="let state of stateSelectorList" [value]="state.value">
          {{state.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Customer ID</mat-label>
      <mat-select>
        <mat-option *ngFor="let state of stateSelectorList" [value]="state.value">
          {{state.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<br>
<br>
<div style="align-items: center;display:flex;justify-content: center;width: 100%;">
  <button mat-stroked-button style="width: 150px;">Continue</button>
</div>
<br>
