<p-toolbar [style]="{'background-color':'rgb(45, 31, 50)','border':'none','border-radius':'0'}">
  <div class="p-toolbar-group-left">
    <span style="padding-left: 75px; padding-top: 10px;">
      <a id="myLink" href="https://www.sundaygrids.com/">
        <img src="/assets/logo.PNG" />
      </a>
    </span>
  </div>

  <div class="p-toolbar-group-right">
    <button pButton type="button" style="color:white" label="Benefits" class="p-button-text p-mr-4"></button>
    <button pButton type="button" (click)="onClickFAQ()" style="color:white" label="FAQ" class="p-button-link p-mr-4"></button>
    <button pButton type="button" label="Login" style="color:#FFA62E" class="p-button-text p-mr-4"></button>
    <button pButton type="button" label="Buy Biscuits" style="color:white" class="p-button-outlined p-mr-4"></button>
  </div>
</p-toolbar>
