<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p-toolbar [style]="{'background-color':'white',
'box-shadow': '0px 1px 5px #D8D8D8;',
'width':'100%','border':'none','border-radius':'3px'}">
  <div class="p-toolbar-group-left" [style]="{'margin-left':'2%','padding-top':'2%','height':'10px'}">
    <h1><i style="font-size:15px;padding-bottom: 0px;" class="fa fa-arrow-left"></i></h1>
    &nbsp;&nbsp;&nbsp;
    <h2 style="font-family: 'Poppins';color: #2D1F32;font-weight: 600;font-size: 15px;">Bill Payment &nbsp;
      <span style="font-size: small; font-family: 'Poppins';font-weight: 500;font-size: 14px;line-height: 21px;">Your Credit : 545$</span>
    </h2>
  </div>
</p-toolbar>
