<app-header></app-header>
<div class="row">
  <div class="column"
    style="background-color:rgb(245, 245, 234);">
    <div>
      <app-bill-payment-header></app-bill-payment-header>
      <app-cards-header></app-cards-header>
      <app-section-three></app-section-three>
    </div>

  </div>
  <div class="column2"
    style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)">
    <div style="left: 10px;">
      <app-section-two></app-section-two>
    </div>
  </div>
</div>




