.sbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 5px;
  height: 100px;
  background-color: #ffffff;
  justify-content:space-evenly;
}

.mat-tab-group {
  margin-bottom: 48px;
}
.paddingDiv{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  background-color:rgb(231, 228, 228);
}
.contentHeaderDiv{
  display: flex;
  justify-content:space-between;
  padding-left: 5%;
  padding-right: 5%; 
  padding-top: 10px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.confirm-btn{
  padding-left: 20px;
  font-size: medium;
  color: white;
  background-color: rgb(23, 30, 44);
}