.parent {
  width: 100px; /* I took the width from your post and placed it in css */
  height: 50px;
}

/* This will style any <img> element in .parent div */
.parent img {
  height: 100%;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
