<div class="paddingDiv">
  <div class="contentHeaderDiv">
    <h2>Bill Payment
      <br>
      <span style="font-size: small; font-weight: 200;">Your Credit : 545$</span>
    </h2>
    <span>
      <a id="myLink" href="https://www.sundaygrids.com/">
        <img style="width: 130px;" src="/assets/bharatBillPay.png" />

      </a>
    </span>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Electricity Bill">
      <div class="sbox mat-elevation-z4">

        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select > <!-- <mat-select [formControl]="stateSelectorController" name="state"> -->
              <!-- <mat-option>None</mat-option> -->
              <mat-option *ngFor="let state of stateSelectorList" [value]="state.value">
                {{state.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Operator</mat-label>
            <mat-select ><!-- <mat-select [formControl]="operatorSelectorController" name="operator"> -->
              <mat-option *ngFor="let operator of operatorSelectorList" [value]="operator.value">
                {{operator.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Customer ID</mat-label>
            <mat-select ><!-- <mat-select [formControl]="operatorSelectorController" name="operator"> -->
              <mat-option *ngFor="let cusId of cusIdSelectorList" [value]="cusId.value">
                {{cusId.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        &nbsp;&nbsp;
        <button class="confirm-btn" mat-flat-button>Continue</button>

        <!--
        <mat-form-field appearance="fill">
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

-->
      </div>
    </mat-tab>
    <mat-tab label="All Utilities">
      <div class="sbox mat-elevation-z4">
        Small content 2
      </div>
    </mat-tab>
  </mat-tab-group>
</div>